{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block menu%}
{% endblock %}
{% block content%}
<div class="container text-center mt-5">
    <div class="row justify-content-around">
        {% for item in product_in_cart %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="text-start">
                        <div class="card-body">
                            <h5 class="card-title">Продукт: {{ item.product.name }}</h5>
                            <h5 class="card-title">Цена: {{ item.product.price }}₸</h5>
                            <h6 class="card-title">Количество: {{ item.quantity }}</h6>
                            <h6 class="card-title">Сумма: {{ total_per_item.item.id }}₸</h6>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Продукты не найдены</p>
        {% endfor %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="text-start">
                    <div class="card-body">
                        <h5 class="card-title">Итоговая сумма: {{ overall_total }}₸</h5>
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}
