{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu%}
{% endblock %}
{% block content%}
<div class="container text-center mt-5">
    {% include 'partial/search.html' %}
    <div class="row justify-content-around">
        {% for product in products %}
        <div class="col-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image }}" class="img-fluid rounded-start"
                            alt="{{ product.name }}">
                    </div>
                    <div class="col-md-8 text-start">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <div class="cart_icon">
                                    <a href="{% url 'cart_add' product.pk %}">
                                        <i class="fa-solid fa-cart-plus cart_icon_size"></i>
                                    </a>
                                </div>
                            </div>
                            <h6 class="card-title">Категория - {{ product.category }}</h6>
                            <p class="card-text">Остаток: {{ product.product_left }}</p>
                            <h5 class="card-text">Цена: {{ product.price }}₸</h5>
                            <a href="{% url 'product_detail' product.pk %}" class="btn btn-outline-primary">подробнее...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Продукты не найдены</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}