{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'product_update' product.pk %}">Редактировать Продукт</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'product_delete' product.pk %}">Удалить Продукт</a>
</li>
{% endblock %}
{% block content%}
<div class="container">
    <div class="col-8 mx-auto mt-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                </div>
                <div class="col-md-8 text-start">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Категория: {{ product.category }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Остаток: {{ product.product_left }}</p>
                        <h5 class="card-text">Цена: {{ product.price }}₸</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}